body{
font-family:Arial;
background:#f4f4f4;
text-align:center;
}

table{
border-collapse:collapse;
margin:auto;
width:70%;
background:white;
}

th,td{
border:1px solid black;
padding:10px;
}

th{
background:#007BFF;
color:white;
}